.date-time-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar {
  flex: 1;
}

.custom-buttons {
  display: flex;
  gap: 10px;
}

.custom-buttons {
  display: flex;
  // flex-direction: column;
  // column-gap: none;
  

}
.show-buttons{
  display: block;
  z-index: 10000;
}