<div class="date-pickers-holders">
<div class="date-time-picker">
  <div class="calendar">

    <mat-form-field (click)="handleDateRangeInputClick()">
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start"
          (dateChange)="handleDateChange()"
        />
        <input
          matEndDate
          formControlName="end"
          (dateChange)="handleDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker
        #picker
        (opened)="onCalendarOpen()"
        (closed)="onCalendarClose()"
      ></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="custom-buttons" [ngClass]="{ 'show-buttons': showCustomButtons }">
    <div class="btn" id="last-1-hour" (click)="clickHandler('hour','last-1-hour',1)" [ngClass]="{ 'active': activeCustomClickId === 'last-1-hour' }">Last 1 Hour</div>
    <div class="btn" id="last-6-hour" [ngClass]="{ 'active': activeCustomClickId === 'last-6-hour' }" (click)="clickHandler('hour','last-6-hour',6)">Last 6 Hour</div>
    <div class="btn" id="last-24-hour" (click)="clickHandler('hour','last-24-hour',24)"
    [ngClass]="{ 'active': activeCustomClickId === 'last-24-hour' }">Last 24 Hour</div>
    <div class="btn" id="last-7-days" (click)="clickHandler('day','last-7-days',7)"
    [ngClass]="{ 'active': activeCustomClickId === 'last-7-days' }" >Last 7 Days</div>
    <div class="btn" id="last-30-days" (click)="clickHandler('day','last-30-days',30)"
    [ngClass]="{ 'active': activeCustomClickId === 'last-30-days' }" >Last 30 Days</div>
    <div class="btn" id="last-90-days" (click)="clickHandler('day','last-90-days',90)"
    [ngClass]="{ 'active': activeCustomClickId === 'last-90-days' }" >Last 90 Days</div>
    <div class="btn" id="custom-range" (click)="clickHandler('custom','custom-range',null)"
    [ngClass]="{ 'active': activeCustomClickId === 'custom-range' }" >Custom Range</div>
    <div id="time-picker">
      <timepicker [(ngModel)]="mytime" [showMeridian]="true"
      (ngModelChange)="onTimeChange($event)" [disabled]="!allowTimeChange"></timepicker>
      <div class="close-apply-btn">
        <div>{{errorMsg}}</div>
        <div class="close-btn" (click)="handleDateCalendarClose()">close</div>
        <div class="apply-btn" (click)="handleDateCalendarNotClose()">apply</div>
      </div>
    </div>
  </div>
  
</div>


<div class="date-picker">
  <div class="day-calendar">
    <mat-form-field (click)="handleDayDateRangeInputClick()">
      <mat-date-range-input [formGroup]="dayRange" [rangePicker]="myDayCustomPicker">
        <input
          matStartDate
          formControlName="start"
          (dateChange)="handleDayDateChange()"
        />
        <input
          matEndDate
          formControlName="end"
          (dateChange)="handleDayDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="myDayCustomPicker"></mat-datepicker-toggle>
      <mat-date-range-picker
        #myDayCustomPicker
        (opened)="onDayCalendarOpen()"
        (closed)="onDayCalendarClose()"
      ></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="custom-buttons" [ngClass]="{ 'show-day-buttons': showDayCustomButtons }">
    <div class="btn" id="today" (click)="clickDayHandler('day','today',0)" [ngClass]="{ 'active': activeDayCustomClickId === 'today' }">Today</div>
    <div class="btn" id="yesterday" [ngClass]="{ 'active': activeDayCustomClickId === 'yesterday' }" (click)="clickDayHandler('day','yesterday',1)">Yesterday</div>
    <div class="btn" id="last-7-days" (click)="clickDayHandler('day','last-7-days',7)"
    [ngClass]="{ 'active': activeDayCustomClickId === 'last-7-days' }">Last 7 days</div>
    <div class="btn" id="last-30-days" (click)="clickDayHandler('day','last-30-days',30)"
    [ngClass]="{ 'active': activeDayCustomClickId === 'last-30-days' }" >Last 30 Days</div>
    <div class="btn" id="last-90-days" (click)="clickDayHandler('day','last-90-days',90)"
    [ngClass]="{ 'active': activeDayCustomClickId === 'last-90-days' }" >Last 90 Days</div>
    <div class="btn" id="custom-range" (click)="clickDayHandler('custom','custom-range',null)"
    [ngClass]="{ 'active': activeDayCustomClickId === 'custom-range' }" >Custom Range</div>
  </div>
  
</div>
</div>